a {
	font-size: 22px;
	font-family: "ALK Life", sans-serif;
}
.l1 {
	display: inline-block;
	vertical-align: middle;
    margin-right: 53px;
    margin-left: 20px;
	
}
.a1 {
	display: inline-block;
	vertical-align: middle;
    margin-right: 22px;
 
	

}
.s1 { 
	width: 1170px;
	background: 460px;
	margin: 30px auto;
	}

.a2 {
	color: orange;

} 

.s2 {
	width: 1170px;
	height: ;
	margin: 30px auto;
}


.d1 {
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	display: inline-block;
	padding: 10px 15px 24px 27px;


}
.d2{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	display: inline-block;
	padding: 10px 15px 24px 27px;
	margin-left: 25px;
}
.img {
	vertical-align: middle;
	margin-right: 60px;
}
.p1 {
	display: inline-block;
	width: 355px ;
	vertical-align: middle;
	font-family: 'Festive', cursive;
}
.h4 {
	margin-bottom: 15px;
}
.f1 {
	width: 1170px;
	margin: 30px auto;


}
.img2 {
	margin-right: 15px;
	margin-left: 15px;
}
.s3 {
	width: 1170px;
	height: 500px;
	margin: 30px auto;

}
.d3 {
	width: 74px;
	height: 70px;
	background-color: #3D58A6;
	display: inline-block;
	margin: 33px 21px 0px 21px ;
	font-size: 37px;
	padding: 14px 19px;
	color: white;

}
.p2{
	font-size: 22px;
	margin-left: 30px;

}
.h2 {
	font-size: 20px;
	margin-top: 22.5px;
	margin-left: 30px;
	font-family: 'Festive', cursive;
}
.d4 {
	width: 1260px;
	height: 350px;
	display: inline-block;
	margin-top: 17px;

}
.p3 {
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	width: 930px;
	height: 420px;
	padding-left: 39px;
	font-family: "ALKDots", sans-serif;

}
.img 3 {
	display: inline-block;
	vertical-align: middle;
	width: 270px;
	height: 210px;
	margin-top: 30px auto ;

}
.s4{
	width:1366px ;
	height: 570px;
	background-color: #E6E6E6;
	margin-top: 55px;
	display: inline-block;
}


.d5 {
	display: inline-block;

}
.h1 {
	font-size: 20px;
	padding-bottom: 9px;
}
.iframe {
	width: 600px;
	height: 300px;
	display: inline-block;
	margin-top: 100px;
	margin-left: 240px;
	margin-right: 5px;
	margin-bottom: 40px;
}
.d6 {
	width: 600px;
	height: 300px;
	display: inline-block;
	margin: 50px 30px auto 300px;
}
.f2 {
	width: 1170px;
	margin-top: 30px;
	margin-left: 20px;

}


	
	